body {
  background-color: powderblue;
}

.Heading1 {
  font-size: 10px;
  font-family: ;
}

.Paragraph1 {
  font: size 25px;
}

.paragraph2 {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
